include ../layout
block scripts
	script(src="/js/list.js")
block content
	.container
		.row
			.panel.panel-default.full-width
				.panel-body.full-width(style="text-align:right;")
					label.control-label
						button.btn.btn-info#addNew 新增
			table.table.table-bordered.table-hover
				thead
					tr
						th(style="width:15%;") 主题
						th(style="width:15%;") 创建时间
						th(style="width:55%;") 内容
						th(style="width:15%;text-align:center") 操作
				tbody
					each item in items
						tr
							td #{item.title}
							td #{moment(item.meta.createAt).format('YYYY-MM-DD hh:mm:ss')}
							td #{item.content}
							td(style="text-align:center;")
								button.btn.btn-info.edit(type="button", data-id="#{item._id}") 编辑
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除