include ../layout
block scripts
	script(src="/js/list.js")
block content
	.container
		.row
			.panel.panel-default.full-width
				.panel-body.full-width(style="text-align:right;")
					label.control-label
						button.btn.btn-info#addNew 新增
			table.table.table-bordered.table-hover
				thead
					tr
						th 主题
						th 创建时间
						th 内容
						th 操作
				tbody
					each item in items
						tr(class="item_id_#{item._id}")
							td #{item.title}
							td #{item.createAt}
							td #{item.content}
							td
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除